<div class="contenedor">

  <app-cabecera></app-cabecera>

  <!-- carrusel de aliados -->

  <div class="carrusel-de-aliados">
    <div class="col">
      <owl-carousel-o id="2" [options]="this.customOptions">
        <ng-template carouselSlide *ngFor="let item of this.items">
          <div class="contenedor-aliado-carrusel">
            <div class="aliado-carrusel">
              <img class="logo-aliado-carrusel" src="https://pngimg.com/uploads/lg_logo/lg_logo_PNG4.png" alt="">
              <!-- Megamenú -->
              <!-- <div class="menu-desplegable">
              </div> -->
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>


  <!-- carrusel de categorias con aliado -->
  <section class="categorias-aliados">
    <div class="col">
      <div class="titulo-seccion">
        <h2 class="texto-centrado">Categorías</h2>
      </div>
      <div class="carrusel-categorias-aliados">
        <owl-carousel-o id="2" [options]="this.categoriaAliadoCarrusel">

          <ng-template carouselSlide="" *ngFor="let item of this.items2">
            <div class="contenedor-categoria-aliado">
              <app-carta-categoria-aliado></app-carta-categoria-aliado>
            </div>
          </ng-template>

        </owl-carousel-o>
      </div>
    </div>
  </section>
  <section id="nuestros-aliados">
    <div>
      <h2>Nuestros aliados</h2>
    </div>
    <owl-carousel-o [options]="this.nuestrosAliadosCarrusel">
      <ng-template *ngFor="let item of this.items3; let i = index" carouselSlide>
        <div class="flex direccion-col">
          <div class="aliado">
            <img src="https://pngimg.com/uploads/lg_logo/lg_logo_PNG4.png" alt="">
          </div>
          <div class="separador"></div>
          <div class="aliado">
            <img src="https://pngimg.com/uploads/lg_logo/lg_logo_PNG4.png" alt="">
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </section>

  <ng-template id="modal" #content let-modal>
    <div class="modal-body flex">
      <div class="imagen">
        <img src="../assets/Enmascarar grupo 39@2x.png" alt="">
      </div>
      <div>

      </div>
    </div>
  </ng-template>
  <app-carta-categoria-aliado></app-carta-categoria-aliado>
  <button id="abrir-modal" (click)="this.open(content)" class="btn btn-success">Modal</button>
</div>
<input type="button" value="Agrandar" (click)='this.cambioTamano("desplegado");'>
<input type="button" value="recoger" (click)='this.cambioTamano("nodesplegado");'>
<iframe id="conexionAngular" class="nodesplegado" src="http://172.16.83.24/?page_id=14" style="border-width:4px;"
  title="Iframe Example"></iframe>