<div class="categoria-aliado">
    <div class="categoria">
        <div class="imagen-categoria">
            <img src="https://falabella.scene7.com/is/image/FalabellaCO/19127949_5?wid=800&hei=800&qlt=70" alt="">
        </div>
        <div class="nombre-categoria">
            <h3>Neveras</h3>
        </div>
    </div>

    <div class="aliado">
        <div class="logo-aliado">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Logotipo_Mabe.svg/2560px-Logotipo_Mabe.svg.png"
                alt="">
        </div>
    </div>
    <div class="plataforma"></div>
    <div class="ver-mas">Ver más ></div>
</div>