<div class="cabecera flex">
    <div class="flex">
        <div class="contenedor-hamburger pl-2 flex centrar-vertical">
            <button class="hamburger" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner texto-primario"></span>
                </span>
            </button>
        </div>
        <div class="logo-flamingo">
            <img src="../../../assets/Grupo 928.png" alt="">
        </div>
    </div>
    <div class="regresar">
        <span>Regresar a flamingo</span>
    </div>
</div>